/* Global CSS file */
* {
	margin: 0;
	padding: 0;
}
html {
	background: #001026;
	height: 100%;
	font-family: sans-serif;
}
body {
	height: 100%;
}
#pageContainer {
	display: table;
	height: 100%;
	width: 88%;
	margin: auto
}
#pageContainer #verticalAlign {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
#pageContainer #verticalAlign img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}
/*
	—————————————————————————— INFORMATION SECTION
*/
#imageInfo h1 {
	padding-top: 5px;
	display: inline-block;
	font-size: 24px;
	width: 33%;
	color: #719298;
	font-weight: bold;
}
#imageInfo #imageDescription {
	text-align: center;
}
#imageInfo #characterInfo {
	text-align: right;
}
/*
	—————————————————————————— NAVIGATION SECTION
*/
#verticalAlign a.characterNavigation {
	position: absolute;
	display: block;
	left: 0%;
	top: 50%;
	z-index: 10;
}
#pageContainer #verticalAlign a.characterNavigation img {
	border: none;
	width: 100px;
	height: 100px;
	opacity: .8;

}
#verticalAlign .navigationArrow {
	position: absolute;
	top: 44%;
	z-index: 5;
	text-decoration: none;
}
	#pageContainer #verticalAlign div.navigationArrow a {
		text-decoration: none;
		font-size: 96pt;
		color: #719298;
		opacity: 1;
	}

	#verticalAlign #rightArrow {
		right: -4%;
	}
	#verticalAlign #leftArrow {
		left: -4%;
	}
		#verticalAlign #leftArrow #arrowFlip {
			display: block;
			transform: scaleX(-1);
			opacity: 1;
		}

/*
	—————————————————————————— HOME BUTTON
*/ 
#homeLink {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 50%;
	opacity: .8;
}