/* Global CSS file */
* {
	margin: 0;
	padding: 0;
}
html {
	background: #001026;
	height: 100%;
	font-family: sans-serif;
}
body {
	height: 100%;
}
#pageContainer {
	display: table;
	height: 100%;
	width: 90%;
	margin: auto
}
#pageContainer #verticalAlign {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
#pageContainer #verticalAlign img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}
/*
	—————————————————————————— INFORMATION SECTION
*/
#imageInfo h1 {
	display: inline-block;
	font-size: 1em;
	width: 33%;
	color: #719298;
	font-weight: normal;
}
#imageInfo #imageDescription {
	text-align: center;
}
#imageInfo #characterInfo {
	text-align: right;
}
/*
	—————————————————————————— NAVIGATION SECTION
*/
#verticalAlign .characterNavigation {
	position: absolute;
	left: 0%;
	top: 50%;
	z-index: 10;
}
#verticalAlign .characterNavigation a img {
	border: none;
	width: 150%;
	height: 150%;
}
#verticalAlign .navigationArrow {
	position: absolute;
	top: 47%;
	z-index: 5;
	text-decoration: none;
}
	#verticalAlign .navigationArrow a {
		text-decoration: none;
		font-size: 3em;
		color: #719298;
		opacity: .5;
	}

	#verticalAlign #rightArrow {
		right: -1%;
	}
	#verticalAlign #leftArrow {
		left: -1%;
	}
		#verticalAlign #leftArrow #arrowFlip {
			display: block;
			transform: scaleX(-1);
			opacity: .5;
		}